#chat{
		width: 400px;
		height:500px;
		overflow: auto;
		background-color: #FDE3A7;
		border-radius:10px;
		}
	img{
		width: 100px;
    	height:120px;
    	border-radius:10px;
    	background-color: #FFF;
	}	

	#contentWrap{
		display:none;

	}
	#chatWrap{
		float:left;
		

	}
	.new-message{
		    margin-left: 10px;
    background-color: #FFF;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
	}
	.user{
	width:20px;
	/*height:20px;*/
	border-radius:50%;
	font-size:15px;
	color:#fff;
	line-height:20px;
	text-align:center;
	background:#000

	}
	.msg-txt:hover{
		background-color: #ecf0f1;
		border-radius: 4px;
		color:#000;
	}
	.msg-txt{
		
		margin:10px 10px 10px 10px;
	}
	.msg-img:hover{
		
		border-radius: 4px;
		color:#000;
	}
	.msg-img{
		
		margin:10px 10px 10px 10px;
	}
	